<!doctype html>
<html>
  <head>
    <%= partial "partials/meta_tags", :locals => { :person => person ||= nil, :page => page ||= 'index' } %>
    <%= stylesheet_link_tag "styles" %>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript">window.jQuery || document.write('<script src="http://cdn3.sbnation.com/javascripts/vendor/jquery-1.10.2.min.vda41706.js"><\/script>');</script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script type="text/javascript">window._ || document.write('<script src="http://cdn1.sbnation.com/javascripts/vendor/underscore-1.5.2.min.vd22f881.js"><\/script>');</script>
    <script type="text/javascript" src="http://ox-d.sbnation.com/w/1.0/jstag"></script>
    <%= javascript_include_tag  "top" %>
    <script type="text/javascript">
     Verge.context = {
       url_prefix: "<%= url_prefix %>",
       app_name : "<%= app_name %>"
     };
    </script>
  </head>

  <body>
    <%= partial 'partials/header' %>

    <div class="hymnal-loading-zone" style="display:none;">
      <script type="text/javascript">
        Vox.EditorialApps.Ads.render(463319);
      </script>
    </div>

    <div class="l-outer-wrap">
      <div class="l-inner-wrap">
        <%= partial 'partials/nav' %>
        <%= yield %>
      </div>
    </div>
  </body>
  <%= javascript_include_tag  "bottom" %>
  <%= partial "partials/analytics" %>
</html>