<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "The Verge Fifty" %></title>
    
    <%= stylesheet_link_tag "styles" %>

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript">window.jQuery || document.write('<script src="http://cdn3.sbnation.com/javascripts/vendor/jquery-1.10.2.min.vda41706.js"><\/script>');</script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script type="text/javascript">window._ || document.write('<script src="http://cdn1.sbnation.com/javascripts/vendor/underscore-1.5.2.min.vd22f881.js"><\/script>');</script>
    <%= partial "partials/analytics_header" %>
  </head>
  
  <body class="<%= page_classes %>">
    <%= partial 'partials/header' %>
    <div class="l-outer-wrap">
      <div class="l-inner-wrap">
        <%= partial 'partials/nav' %>
        <%= yield %>
      </div>
    </div>
  </body>
  <%= javascript_include_tag  "application" %>
  <%= partial "partials/analytics_footer" %>
</html>