<header class="m-header">
  <a class="m-header__nav-toggle" href="<%= absolute_page_url %>">Menu</a>
  <h1 class="m-header__logo"><a href="<%= absolute_page_url %>">The Verge &bull; Fifty</a></h1>
  <div class="m-header__buttons">
    <a class="m-header__twitter" data-social="Twitter" data-shared="<%= app_name %>" href="<%= tweet %>">Twitter</a>
    <a class="m-header__facebook" data-social="Facebook" data-shared="<%= app_name %>" href="<%= facebook %>">Facebook</a>
    <a class="m-header__google" data-social="Google+" data-shared="<%= app_name %>" href="<%= google_plus %>">Google</a>
    <a class="m-header__previous" href="#">Previous</a>
    <a class="m-header__next" href="#">Next</a>
  </div>
</header>