<meta charset="utf-8">
<title><%= page_title(person) %></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes" />
<meta name="description" content="" />

<%# OpenGraph Meta Tags %>
<meta property="fb:app_id" content="179668695452017" />
<meta property="og:site_name" content="The Verge" />
<meta property="og:type" content="website" />
<meta property="og:title" content="<%= page_title(person) %>" />
<meta property="og:image" content="" />
<meta property="og:description" content="" />
<meta property="og:url" content="<%= page_url(person) %>" />

<%# Twitter Card Meta Tags %>
<meta name="twitter:site" content="verge" />
<meta property="twitter:account_id" content="1465737598" />
<meta name="twitter:card" content="photo" />
<meta name="twitter:url" content="<%= page_url(person) %>" />
<meta name="twitter:title" content="<%= page_title(person) %>" />
<meta name="twitter:image" content="" />
<meta name="twitter:image:width" content="" />
<meta name="twitter:image:height" content="" />

<link rel="shortcut icon" href="http://cdn0.sbnation.com/images/verge/favicon.vc44a54f.ico" />
<link rel="apple-touch-icon" href="/images/verge/apple-touch-icon.png" />

<meta name="google-site-verification" content="TYyhlycNMOtUSht2aoB7heWTK8m-H45_YJizKavkO8s" />
<meta name="google-site-verification" content="IucFf_TKtbFFH8_YeFyEteQIwYPdANM1R46_U9DpAr4" />
<meta name="google-site-verification" content="tDoQLOfV4VmPZrTuSNDQnSyTfhgDRlOMaXgYQ0Bb9Bc" />
<meta name="msvalidate.01" content="D385D0326A3AE144205C298DB34B4E94" />
<meta name="y_key" content="0184e2558f89b639" />
<link rel="canonical" href="<%= "http://www.theverge.com#{url_for("/")}" %>" />
