<div class="m-person__headshot">
<span class="picturefill" data-alt="<%= person.name %>">

  <span data-src="<%= image_path "/images/people/#{person.slug}/small.jpg" %>" data-media="<%= mq("max-width: #{break_large}px") %>"></span>
  <span data-src="<%= image_path "/images/people/#{person.slug}/small@2x.jpg" %>" data-media="<%= mq("max-width: #{break_large}px", true) %>"></span>
  <span data-src="<%= image_path "/images/people/#{person.slug}/large.jpg" %>" data-media="<%= mq("min-width: #{break_large}px") %>"></span>
  <span data-src="<%= image_path "/images/people/#{person.slug}/large@2x.jpg" %>" data-media="<%= mq("min-width: #{break_large}px", true) %>"></span>
  
  <noscript>
      <img src="<%= image_path "/images/people/#{person.slug}/small.jpg" %>" alt="<%= person.name %>" />
  </noscript>
</span>
</div>