<div class="m-person__headshot">
<span class="picturefill" data-alt="<%= person.name %>">

  <span data-src="<%= image_path "/images/people/#{person.slug}/small.jpg" %>" data-media="(min-width: 400px)"></span>
  <span data-src="<%= image_path "/images/people/#{person.slug}/small@2x.jpg" %>" data-media="(min-width: 400px) and (min-device-pixel-ratio: 1.3)"></span>
  <span data-src="<%= image_path "/images/people/#{person.slug}/large.jpg" %>" data-media="(min-width: 800px)"></span>
  <span data-src="<%= image_path "/images/people/#{person.slug}/large@2x.jpg" %>" data-media="(min-width: 800px) and (min-device-pixel-ratio: 1.3)"></span>
  
  <noscript>
      <img src="<%= image_path "/images/people/#{person.slug}/small.jpg" %>" alt="<%= person.name %>" />
  </noscript>
</span>
</div>