<li class="m-pages__page" id="<%= page.slug %>" data-page-url="<%= page_url(page.name) %>" data-name="<%= page.title %>">
  <div class="l-content-wrap">
    <h2><%= page.title %></h2>
    <p><%= page.content %></p>
  </div>
</li>