<li class="m-pages__page" id="<%= person.slug %>" data-page-url="<%= page_url('list', person) %>" data-name="<%= person.name %>">
  <div class="l-content-wrap">
    <article class="m-person">
      <div class="m-person__content">
        <header class="m-person__header">
          <span class="m-person__position"><%= zero_padded(person.position) %></span>
          <h2><%= formatted_names(person.name) %></h2>
          <span class="m-person__category"><%= person.category %></span>
        </header>

        <aside class="m-person__info">
          <% person.title.each do |t| %>
            <h3 class="m-person__title"><%= t %></h3>
          <% end %>
          <p>Age: <%= person.age %></p>
          <ul class="m-person__achievements">
            <% person.achievements.each do |t| %>
              <li><%= t %></li>
            <% end %>
          </ul>
        </aside>

        <div class="m-person__blurb">
          <%= person.blurb %>
        </div>
      </div>
    </article>
  </div>
</li>
