<li class="m-pages__page page" id="<%= person.slug %>" data-page-url="<%= page_url(person.slug) %>" data-name="<%= person.name %>">
  <div class="l-content-wrap">
    <article class="m-person <%= list_tier(person.position.to_i) %>">
      <%= partial "partials/sections/headshot", :locals => { :person => person } %>
      <div class="m-person__content">
        <header class="m-person__header">
          <div class="m-person__position"><span><%= zero_padded(person.position) %></span></div>
          <div class="m-person__name">
            <h2 class="<%= resize_text(person.name) %>"><%= formatted_names(person.name) %></h2>
          </div>
          <div class="m-person__category"><span><%= person.category %></span></div>
        </header>

        <aside class="m-person__info">
          <h3 class="m-person__titles"><%= person.title %></h3>
          <% unless person.age.blank? %>
            <p>Age: <%= person.age %></p>
          <% end %>
          <ul class="m-person__achievements">
            <% person.achievements.split("*").each do |t| %>
              <li><%= t %></li>
            <% end %>
          </ul>
        </aside>

        <div class="m-person__blurb">
          <%= person.blurb %>
        </div>

        <div class="m-person__share">
          <h4>Share</h4>
          <div class="m-person__share-buttons">
            <a class="m-person__twitter" title="Share <%= person.name %>'s The Verge 50 profile on Twitter" data-social="Twitter" data-shared="<%= person.name %>" href="<%= tweet(person.slug, "The Verge 50: #{person.name}") %>">Twitter</a>
            <a class="m-person__facebook" title="Share <%= person.name %>'s The Verge 50 profile on Facebook"  data-social="Facebook" data-shared="<%= person.name %>" href="<%= facebook(person.slug) %>">Facebook</a>
            <a class="m-person__google" title="Share <%= person.name %>'s The Verge 50 profile on Google+"  data-social="Google+" data-shared="<%= person.name %>" href="<%= google_plus(person.slug) %>">Google</a>
          </div>
        </div>
      </div>
    </article>
  </div>
</li>
