<li class="m-pages__page" id="<%= person.slug %>" data-page-url="<%= page_url('list', person) %>" data-name="<%= person.name %>">
  <h1><%= person.position %><br/><%= "#{person.name}" %></h1>
  <h2><%= person.category.name %></h2>
  <p><%= person.blurb %></p>
</li>