<a href="#" class="m-pages__nav previous nav-previous">Previous</a>
<ol class="m-pages">
  <%= partial "partials/sections/cover" %>

  <%= partial "partials/sections/intro", :locals => { :page => data.pages.find{ |p| p.name == 'intro' } } %>

  <% data.people.sort_by{ |p| p.position.to_i }.each_with_index do |p, i| %>
    <%= partial "partials/sections/person", :locals => { :person => p } %>
  <% end %>

  <%= partial "partials/sections/full_list", :locals => { :page => data.pages.find{ |p| p.name == 'full-list' } } %>

  <%= partial "partials/sections/credits", :locals => { :page => data.pages.find{ |p| p.name == 'credits' } } %>
</ol>
<a href="#" class="m-pages__nav next nav-next">Next</a>